:root {
    /* Variáveis para o tema */
    --font-color: #fff;
    --primary-color: #003f88;
    --secondary-color: #0073e6;
    --odd-row-color-start: #002855;
    --odd-row-color-end: #004aad;
    --even-row-color-start: #004aad;
    --even-row-color-end: #0073e6;
    --highlight-color: #ffd700;

    /* Variáveis para gradientes */
    --header-gradient: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    --odd-row-gradient: linear-gradient(90deg, var(--odd-row-color-start), var(--odd-row-color-end));
    --even-row-gradient: linear-gradient(90deg, var(--even-row-color-start), var(--even-row-color-end));
}

body {
    background: #f02dc2;
    font-family: 'Arial Black', sans-serif;
    width: 512px;
}

.ranking-container {
    backdrop-filter: blur(12px);
    border-radius: 12px;
    overflow: hidden;
}

.header {
    background: var(--header-gradient);
    color: var(--font-color);
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.table-row:nth-child(odd) {
    background: var(--odd-row-gradient);
}

.row-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 10px;
}

.table-row:nth-child(even) {
    background: var(--even-row-gradient);
}

.position {
    font-weight: bold;
    color: var(--highlight-color);
}

.voltas {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--highlight-color);
}

td {
    padding: 0px 10px;
}

tr {
    border: none;
}

th {
    padding: 10px;
}

.text-equipe {
    width: 273.3px;
}

/* Animação para o cabeçalho */
.fade-in {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 0.5s forwards;
}

/* Animação para as linhas */
.slide-in {
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 0.5s forwards;
}

/* Animação para saída das linhas */
.slide-out {
    opacity: 1;
    transform: translateY(0);
    animation: slideOut 0.3s forwards;
}

/* Keyframes para a animação de saída */
@keyframes slideOut {
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

/* Keyframes para as animações */
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}